.modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-size: 36px;
    margin: 40px auto;
    font-weight: bold;
    color: #2fb3ca;
}

strong {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 12px 28px;
    color: white;
    background-color: #6AB8C6;
    border-radius: 20px;
    cursor: pointer;
}
button > a, button > a:visited{
    text-decoration: none;
    color:white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #55909b;
    transform-origin: bottom;
}