{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Dice In Piece</title>
    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {# Css+JS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/blocks.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/base.css' %}" />
    {%block head%}{%endblock%}
</head>

<body>
    <header class="logo">
        <a href="/">
            <img src="{% static 'favicon/home.svg' %}" alt="Dice Harmony" />
            <span>Dice Harmony</span>
        </a>
    </header>
    <nav class="navbar">
        <div class="navbar-left"></div>
        <div class="navbar-center">
            <a href="#">Новости</a>
            <a href="#">Каталог</a>
            <a href="#">Контакты</a>
        </div>
        <div class="navbar-right">
            <a href="#">К</a>
            <a href="#">В</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>
        <p>&copy; 2023 - Dice Harmony</p>
    </footer>
</body>

</html>