{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/news/detail.css' %}" />
{% endblock head %}

{% block content %}
<h1>{{object.title}}</h1>

<div class="description">
    <div class="img-wrapper">
        <img src="{{object.image.url}}" alt="Картинка новости">
    </div>
    <p class="content">{{object.content|linebreaksbr}}</p>
    <div class="date-wrapper">
        <span class="date">Опубликовано: {{object.date|date:'Y-m-d'}}</span>
    </div>
</div>
<div class="wrapper-link">
    <a href="{% url 'news_list' %}">Назад к новостям</a>
</div>

{% endblock %}