.wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>h1 {
    font-size: 38px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 1200px;
    overflow: scroll;
}

.container>table {
    width: 100%;
    font-size: 18px;
}

.container>table tr>td:first-child {
    padding-top: 20px;
    padding-right: 20px;
}

.container>table tr>td:last-child {
    padding-top: 20px;
    padding-left: 20px;
}