.table-wrapper {
    margin: 30px 0px;
    padding: 30px;
    color: white;
    background: #6AB8C6;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 10px 10px rgba(39, 105, 204, 0.2), 10px 0px 10px rgba(39, 105, 204, 0.2);
}

table td,
table th {
    padding: 15px;
}

table>thead>tr>th {
    border-bottom: 2px solid white;
}

table a:hover {
    text-decoration: underline;
}

table>tbody>tr:last-child td {
    border-top: 2px solid white;
    font-weight: bold;
}

.quantity {
    color: black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.2), 10px 0px 10px rgba(255, 255, 255, 0.2);
}

.quantity button {
    color: black;
    padding: 5px;
    background: white;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
}

.quantity button:hover {
    transform: none;
}

.quantity form{
    margin: 0 auto;;
}

.quantity>span {
    padding: 5px;
}

.buy-btn {
    margin: 30px auto;
    background: #268AE0;
}

.buy-btn:hover {
    margin: 30px auto;
    background: #3926E0;
}