{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/shop/cart.css' %}" />
<script src="{% static 'js/pages/shop/cart.js' %}" onload></script>
{% endblock head %}

{% block content %}

<h1>Корзина</h1>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена за штуку</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items%}
            <tr>
                <td><a href="{% url 'product_detail' pk=item.product.id %}">{{item.product.title}}</a></td>
                <td>{{item.product.price}} ₽</td>
                <td><div class="quantity">
                <form action="{% url 'cart_update' product_id=item.product.id quantity=item.quantity|add:-1 %}" method="POST">{% csrf_token %}<button>-</button></form>
                
                <span>{{item.quantity}}</span>
                
                <form action="{% url 'cart_update' product_id=item.product.id quantity=item.quantity|add:1 %}" method="POST">{% csrf_token %}<button>+</button></form>
                
                </div></td>
                <td>{{item.total}}₽</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Итого</td>
                <td></td>
                <td>{{object.count}} шт</td>
                <td>{{object.total}} ₽</td>
            </tr>
        </tbody>
    </table>
</div>
<button class="buy-btn">Оформить</button>
{% endblock %}