{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/shop/cart.css' %}" />
<script src="{% static 'js/pages/shop/cart.js' %}" onload></script>
{% endblock head %}

{% block content %}

<h1>Корзина</h1>
<section>
    {% for item in cart_items%}
    <form id="form-{{item.id}}">
        <label>{{item.product.title}} ({{item.product.price}}₽ за шт.)</label>
        <label for="quantity">Кол-во</label>
        <input id="quantity" name="quantity" type="number" value="{{item.quantity}}" min="1" step="1" max="10">
        <input type="submit" value="🗸" />
        <input type="submit" value="x" />
    </form>
    {% endfor %}
</section>
<section>
    {{object.count}}, {{object.total}}
</section>
{% endblock %}