{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/shop/detail.css' %}" />
<script src="{% static 'js/pages/shop/detail.js' %}" onload></script>
{% endblock head %}

{% block content %}
<h1>{{object.title}}</h1>
<section class="product-top">
    <div class="wrapper-img">
        <img src="{{object.image.url}}">
    </div>
    <div class="wrapper-buy">
        <div class="buy-price">{{object.price}} ₽</div>
        <div class="buy-description">
            <div>
                В наличии - {{object.stock}} шт.
            </div>
            <div>
                Категория - {{object.category.title}}
            </div>
        </div>
        {% if object.stock > 0 %}
        <button id="buy-{{product.id}}" class="{% if product_in_cart %}buy-button-hidden{%endif%} buy-button" onClick="addProductToCart({{product.id}})">Купить</button>
        <button id="buy-cart-{{product.id}}" class="{% if not product_in_cart %}buy-button-hidden{%endif%} buy-button-cart buy-button" onClick="deleteProductFromCart({{object.id}})">В корзине</button>
        {%else%}
        <button class="buy-button" disabled>Нет в наличии</button>
        {%endif%}
    </div>
</section>
<section class="product-bottom">
    <h2>Описание</h2>
    <p>{{object.description|linebreaksbr}}</p>
</section>
{% endblock %}