{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/shop/list.css' %}" />
<script src="{% static 'js/pages/shop/list.js' %}" onload></script>
{% endblock head %}

{% block content %}

<h1>Каталог</h1>
<div class="shop">
    <section class="categories">
        <div class="category-wrapper">
            <h2>Категории</h2>
            {% for category in categories%}
            <article class="category">
                {% if category.id == active_category%}
                <a href="{% url 'product_list'%}"><strong>{{category.title}}</strong></a>
                {% else%}
                <a href="{% url 'product_list' category=category.id%}">{{category.title}}</a>
                {% endif%}
            </article>
            {%endfor%}
        </div>
    </section>

    <section class="products">
        {% for product in object_list %}
        <article class="product">
            <div class="product-img" onclick="location.href='{%url 'product_detail' pk=product.id%}'">
                <img src="{{product.image.url}}">
            </div>
            <div class="title"><a href="{%url 'product_detail' pk=product.id%}">{{product.title}}</a></div>
            <div class="buy-wrapper">
                <div id="buy-{{product.id}}" class="{% if product.id in products_in_cart %}buy-hidden{% endif %} buy"
                    onClick="addProductToCart({{product.id}})">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path fill="#FFFFFF"
                            d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                    </svg>
                    <span>{{product.price}}</span>
                </div>
                <div id="buy-cart-{{product.id}}"
                    class="{% if product.id not in products_in_cart %}buy-hidden{% endif %} buy-cart buy"
                    onClick="deleteProductFromCart({{product.id}})">В корзине</div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>

{% endblock %}