.container {
    width: 800px;
}


.form {
    margin: 20px 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-bottom: 30px;
}

.form-group>label {
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    background: #6AB8C6;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow: 0px 10px 10px rgba(39, 105, 204, 0.2), 10px 0px 10px rgba(39, 105, 204, 0.2);
    height: 50px;
}

.form-group>input,
.form-group>select {
    border: 3px solid #6AB8C6;
    flex: 1;
    padding: 10px;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 10px 10px rgba(39, 105, 204, 0.2), 10px 0px 10px rgba(39, 105, 204, 0.2);
    background-color: white;
}

.form-group>textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #6AB8C6;
    border-top-left-radius: 1em;
    box-shadow: 0px 10px 10px rgba(39, 105, 204, 0.2), 10px 0px 10px rgba(39, 105, 204, 0.2);
}

.form-group:has(#id_image)>label,
.form-group:has(textarea)>label {
    margin-top: 0px;
    line-height: 30px;
    flex: 100%
}



.form-group:has(#id_image),
.form-group:has(textarea) {
    flex-direction: column;
    gap: 2em;
}

.form-group>a {
    word-wrap: break-word;
    word-break: break-all;
}

.form-group-help {
    flex: 1;
    font-size: 16px;
    color: blue;
    margin-bottom: 10px;
    font-style: italic;
}

.form-group-error {
    color: red;
    font-size: 16px;
    flex: 1;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group-btn {
    margin-left: auto;
    margin-right: 0;
}

.form-group-link {
    margin-top: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.form-group-file {
    display: flex;
}

.form-group-file>div:first-child {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.form-group-file input[type=checkbox] {
    transform: scale(2);
    padding: 10px;
    width: 20px;
    margin-left: 38px;
}

.form-group>a {
    padding: 12px 28px;
    color: white;
    background-color: #6AB8C6;
    border-radius: 20px;
    cursor: pointer;
    background: #6AB8C6;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 10px 10px rgba(39, 105, 204, 0.2), 10px 0px 10px rgba(39, 105, 204, 0.2);
}


.form-group>a:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #55909b;
    transform-origin: bottom;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .form {
        margin: 0;
        width: 100%;
    }

    .form-group {
        flex-direction: column;
        gap: 1em;
    }

    .form-group>label {
        padding: 15px;
        flex: 100%;
    }

    h1 {
        word-break: break-all;
    }

    input[type='checkbox'] {
        flex: auto;
        height: 50px;
    }
}