{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Dice harmony</title>
    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {# Css+JS #}
    <script src="{% static 'js/pages/main/base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/blocks.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/main/base.css' %}" />
    {#Icons#}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {%block head%}{%endblock%}
</head>

<body>
    <header class="logo">
        <a href="/">
            <img src="{% static 'favicon/home.svg' %}" alt="Dice Harmony" />
            <span>Dice Harmony</span>
        </a>
    </header>
    <div class="wave">
        <div></div>
    </div>
    <nav class="navbar">
        <div class="navbar-left"></div>
        <div class="navbar-center">
            <a href="{% url 'news_list' %}">Новости</a>
            <a href="{% url 'product_list' %}">Каталог</a>
            <a href="{% url 'contact' %}">Контакты</a>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path fill="#FFFFFF"
                        d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                </svg></a>
            {% endif %}
            <a href="{% url 'login' %}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path fill="#FFFFFF"
                        d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                </svg>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path fill="#FFFFFF"
                        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                </svg>
            </a>
            {% endif %}
        </div>
    </nav>

    <main>
        <div class="wrapper">
            <div class="container">
                {% block content %}{% endblock %}

            </div>
        </div>
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Dice Harmony</p>
    </footer>
</body>

</html>