{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/main/contact.css' %}" />
{% endblock head %}

{% block content %}
<div class="wrapper">
    <div class="container">

        <h1>Наши контакты</h1>

        <table>
            <tbody>
                <tr>
                    <td>E-mail</td>
                    <td><a href="mailto:support@diceharmony.com" target="_blank"
                            rel="noopener noreferrer">support@diceharmony.com </a></td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>
                        <a href="tel:7-000-000-0000">+7 (000) 000-0000</a>
                    </td>
                </tr>
                <tr>
                    <td>Разработчик</td>
                    <td>
                        <a href="https://github.com/mrgick/">mrgick</a>
                    </td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td>
                        <address>улица Труда, 54, Псков, 180019</address>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <iframe
                            src="https://yandex.ru/map-widget/v1/?um=constructor%3A48140d0e383cb52ffa7aae99a4faafa080d7bd254cd7862483256d2207f804cd&amp;source=constructor"
                            width="500" height="500" frameborder="0"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}