{% extends "pages/main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/main/index.css' %}" />
<script src="{% static 'js/pages/index.js' %}"></script>
{% endblock head %}

{% block content %}
<div style="margin-top: 50px;">
    asdas123213d
</div>
<div style="margin-top: 50px;">
    asdasd
</div>
<div style="margin-top: 50px;">
    asdasd
</div>
<div style="margin-top: 50px;">
    asdasd
</div>
<div style="margin-top: 50px;">
    asdasd
</div>
<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

<div style="margin-top: 50px;">
    asdasd
</div>

{% endblock content %}